<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head lang="en">    
        <meta charset="UTF-8"/>
        <title>Main</title>
    </head>

    <body>
        <header>
            <h1>Hackernews-uutiset</h1>
            <nav>
                <ul><a class="suosituinLinkki" href="/suosituin">Suosituin</a></ul>
                <ul><a href="/viimeisin">Viimeisin</a></ul>
            </nav>
        </header>

    </body>

</html>
